<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Página de Fórmula 1</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <header>
    <h1>Página de Fórmula 1</h1>
    <p>Noticias, resultados y más sobre la Fórmula 1</p>
  </header>
  <div class="container">
    <div class="article">
      <h2>La casa de la F1</h2>
      <p>El Gran Premio de Inglaterra de Fórmula 1 tiene una rica historia, siendo Silverstone su circuito tradicional desde 1950. Pilotos como Lewis Hamilton han dejado su huella, y la carrera ha sido escenario de momentos históricos y duelos emocionantes. A lo largo de los años, ha habido cambios en las regulaciones y en el diseño de los autos. Los fanáticos británicos son conocidos por su entusiasmo. Para obtener información actualizada, se recomienda consultar fuentes de noticias deportivas o el sitio web oficial de la Fórmula 1.</p>
    </div>
    <div class="article">
      <h2>Todas las carreras</h2>
      <p>Detalles sobre la próxima carrera de Fórmula 1.</p>
      <ul>
        {% for races in races.results %}  
          <li> Nombre: {{ races.name }}   - Pais: {{ races.country }}   - Circuito: {{ races.track }}   - Fecha: {{ races.start_date }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="article">
      <h2>Clasificación</h2>
      <p>Tabla de posiciones de los pilotos y equipos.</p>

      <ul>
        {% for drivers in data.results %}
            <li> Posicion: {{ drivers.position }}°  - Piloto: {{ drivers.driver_name }}   - Puntos de piloto: {{  drivers.points}}  - Equipo: {{ drivers.team_name }} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="article">
        <h2>Campeonato de constructores</h2>
        <ul>
            {% for team in constructor.results %}
                <li> Posicion: {{ team.position }}° - Equipo: {{ team.team_name }}   - puntos de equipo: {{  team.points}} </li>
            {% endfor %}
        </ul>
        <ul>

        </ul>
    </div>
  </div>
</body>
</html>
